.col-md-8.col-md-offset-2
  .row
    .panel.panel-default
      .panel-heading
        %h2= @pic.title
      .panel-body
        %p= @pic.description
        %p
        Pic by
        =@pic.user.email

        %br

        = link_to "Back", root_path, class: 'btn btn-link'
        = link_to "Edit", edit_pic_path, class: 'btn btn-link'
        = link_to "Delete", pic_path, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-link'
