.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-body
        = image_tag @pic.image.url, class: 'pic-image'
        %h3= @pic.title
        %p= @pic.description
        %p
        by
        = @pic.user.email

      .panel-body
        = link_to like_pic_path(@pic), method: :put, class: 'btn btn-default' do
          %span.glyphicon.glyphicon-thumbs-up
          = @pic.get_upvotes.size

        - if user_signed_in?
          -# = link_to "Back", root_path, class: 'btn btn-link'
          = link_to "Edit", edit_pic_path, class: 'btn'
          = link_to "Delete", pic_path, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger'
